<html>
    <head>
        <style>
            .main{
                margin-top: 10%;
                margin-left: 20%;
            }
        </style>
    </head>
    <body>
        {% include "nav.html" %}
        {% block head %}
        {% endblock %}
        <div class="main">
            <h1 style="color: red;">{{ error }}</h1>
        <form method="POST" action="/aftersignup/">
            <label>USERNAME  : </label>
            <input type="text" name="uname" required><br><br>
            <label>EMAIL    : </label>
            <input type="email" name="email"><br><br>
            <label>PASSWORD : </label>
            <input type="password" name="pswd"><br><br>
            <label>GENDER : </label>
            <input type="radio" name="gender" value="male">MALE 
            <input type="radio" name="gender" value="female">FEMALE<br><br>
            <input type="submit" value="SIGNUP">
            </form>
            <a href="/login/">ALREADY A USER?</a>
        </div>
    </body>
</html>